/* src/Card.css */

.card {
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
  
    
  
    
  }
  
 
 
  
  .card-content {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid darkgray;
    margin: 1rem;
  }
  
  .card-content img{
    width: 100px;
    
  }
  .card-content .paragraph{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem 0;
    margin-bottom: 1rem;
  
  }
  .paragraph p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
     font-weight: bolder;

  }
  